<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    @if (String.IsNullOrWhiteSpace(ViewData["Title"].ToString()))
    {
        <title>Shoe Store</title>
    }
    else
    {
        <title>@ViewData["Title"] - Shoe Store</title>
    }

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>

<body class="pb-0 mb-0">

    <nav class="navbar navbar-md-expand fixed-top navbar-dark bg-dark">
        <div class="container-fluid bg-dark">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand font-weight-bolder">SHOES</a>
            <form class="form-inline mt-2 mt-md-0" role="search">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn my-2 my-sm-0" style="font-size: 110%" type="submit"><i class="fa fa-search text-white"></i></button>
            </form>
        </div>
    </nav>

    <nav class="navbar navbar-expand-lg bg-light navbar-light mb-0 pb-0">
        <div class="container-fluid">
            <button class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarCollapse"
                    aria-controls="navbarCollapse"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto pull-right">
                    <li class="nav-item">
                        <a class="nav-link border-right border-left">Men</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link border-right">Women</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link border-right">Kids</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link border-right">Sale</a>
                    </li>
                </ul>
            </div>
            <form class="form-inline mt-2 mt-md-0">
                <span class="badge-dark rounded-circle px-2  mx-1">0</span>
                <button type="submit" class="btn" style="font-size: 130%"><i style="font-size: 100%;" class="fa fa-shopping-cart"></i></button>
            </form>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container-fluid m-0 p-0 body-content">
        @RenderBody()
        <nav class="navbar-expand container-fluid navbar-dark bg-dark text-white">
            <div class="row py-0 my-0">
                <div class="col-md-6">
                    <p>Copyright &copy; Shoe Store 2019.</p>
                </div>
                <div class="col-md-6">
                    <ul class="py-0 my-0 navbar-nav float-right">
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">Terms and Conditions</a></li>
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="FAQs">FAQ</a></li>
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">About Us</a></li>
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contact">Contact Us</a></li>
                    </ul>
                </div>
            </div>

            <div class="row py-0 my-0">
                <div class="col-md-6">
                    <form class="form-inline mt-2 mt-md-0" role="search">
                        <div class="input-group input-group-sm" style="width: 40%">
                            <input class="form-control font-italic" type="text" placeholder="Enter email for newsletter" aria-label="Search">
                            <div class="input-group-append">
                                <button class="input-group-text my-2 my-sm-0" style="font-size: 120%" type="submit"><i class="fa fa-angle-right text-black font-weight-bolder"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-6">
                    <ul class="py-0 my-0 navbar-nav float-right">
                        <li class="nav-item"><i class="fa fa-facebook text-white-50 p-2" style="font-size: 300%"></i></li>
                        <li class="nav-item"><i class="fa fa-twitter text-white-50 p-2" style="font-size: 300%"></i></li>
                        <li class="nav-item"><i class="fa fa-instagram text-white-50 p-2" style="font-size: 300%"></i></li>
                        <li class="nav-item"><i class="fa fa-whatsapp text-white-50 p-2" style="font-size: 300%"></i></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/jquery.js"></script>
        <script src="~/lib/twitter-bootstrap/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
